.product-image {
    width: 70px;
    height: 70px;
    object-fit: cover; 
    border-radius: 10%; 
  }

  .chat-item {
    transition: background-color 0.3s; 
  }

  .chat-item:hover {
    background-color: rgb(250, 248, 248); 
  }