<div class="editar-perfil-container">
  <div class="content-wrapper">
    <h2 class="text-center mb-4">Editar Mi Perfil</h2>
    <form (ngSubmit)="guardarCambios()" [formGroup]="editarPerfilForm" class="editar-perfil-form">
      <div class="mb-3">
        <label for="nombreUsuario" class="form-label">Nombre de Usuario</label>
        <input type="text" class="form-control" id="nombreUsuario" formControlName="nombreUsuario" required>
      </div>

      <div class="mb-3" [class.has-error]="editarPerfilForm!.get('vivienda')!.hasError('pattern') && editarPerfilForm!.get('vivienda')!.touched">
        <label for="vivienda" class="form-label">Vivienda</label>
        <input type="text" class="form-control" id="vivienda" formControlName="vivienda" required>
        <div *ngIf="editarPerfilForm?.get('vivienda')?.hasError('pattern') && editarPerfilForm?.get('vivienda')?.touched" class="text-danger">
          La dirección debe seguir el formato: Calle/CódigoPostal/Ciudad
        </div>
      </div>

      <div class="mb-3">
        <label for="telefono" class="form-label">Teléfono</label>
        <input type="tel" class="form-control" id="telefono" formControlName="telefono" required>
      </div>

      <button type="submit" class="btn btn-primary btn-block">Guardar Cambios</button>
    </form>
  </div>
</div>
