h2 a {
    color: #007bff; /* Set your desired link color */
    text-decoration: none; /* Remove underline */
  }

  h2 a:hover {
    text-decoration: underline; /* Add underline on hover if needed */
  }

btn-primary {
    background-color: #007bff; /* Set your desired button color */
    border-color: #007bff; /* Set border color */
  }

btn-primary:hover {
    background-color: #0056b3; /* Set hover background color */
    border-color: #0056b3; /* Set hover border color */
  }