<div class="container">
    <div class="text-center">
        <h1 class="h1-title"><b>elRastro (maiki esto es temporal no te rayes que vamos a usar tu barra de búsqueda)</b>
        </h1>
    </div>
</div>
<div class="container">
    <div class="text-center">
        <form>
            <mat-form-field class="search-width">
                <span matPrefix> </span>
                <input type="text" matInput placeholder="Búsqueda" name="search">
                <button matSuffix mat-button><mat-icon>search</mat-icon></button>
            </mat-form-field>
        </form>
    </div>
</div>
<div class="container">
    <h1 class="h1-product">Productos</h1>
    <div class="row">
        <!-- Product 1 -->
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" *ngFor="let product of productos, let i = index">
            <div class="product zoom-on-hover">
                <img src={{product.fotoURL}} alt="Product Image">
                <h3 class="h3">{{product.Nombre}}</h3>
                <p>{{product.descripcion}}</p>
                <p class="precio"> Puja más alta:
                    @if (product.valor)
                    { {{product.valor}} €
                    } @else {
                    {{product.precio}} €
                    }
                </p>

            </div>
        </div>
    </div>
</div>