.search-width {
  width: 500px !important;
}
.product {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px #FFD9A9;
  background-color: #FFEED4;
  
}

.product img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  
}

.product h3 {
    margin-top: 10px;
    text-align: center;
    font-size: x-large;
    color: #C54409;
    font-weight: 500;
  
}

.h1-product {
  font-size: x-large;
  color:#FC7713;
  text-align: left;
  font-weight: bolder;
}

.product p {
  color: #441506;
  text-align: justify;
  margin-left: 5px;
  margin-right: 5px;
}
.zoom-on-hover {
    transition: transform 0.5s ease;
}

.zoom-on-hover:hover {
    transform: scale(1.07); 
}

.h1-title {
  font-size: xx-large;

}
