.search-width {
  width: 500px !important;
}

.product {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px #FFD9A9;
  background-color: #FFEED4;
  display: flex;
  flex-direction: column;
  height: 650px;
}

.product img {
  width: 100%;
  height: 350px;
  max-height: 350px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  object-fit: cover;

}

.precio {
  text-align: center;
  padding-top: 10px;
}

.precio h4 {
  color: #C54409;
  text-align: center;
  font-size: 28px;
}

.boton-pujar{
  background-color: #fc7713;
  color: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.19);
  border-radius: 8px;
  padding: 10px 24px;  
  font-size: 16px;
}

.boton-pujar:hover{
  background-color: #b16e3a;
  color: white;
}
.product h3 {
  margin-top: 10px;
  text-align: center;
  font-size: 26px;
  color: #C54409;
  font-weight: 500;

}

.h1-product {
  font-size: x-large;
  color: #FC7713;
  text-align: left;
  font-weight: bolder;
}

.wrapper{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;  /*Número de líneas*/
   overflow: hidden;
}

.product p {
  color: #441506;
  text-align: justify;
  margin-left: 5px;
  margin-right: 5px;
  
}

.zoom-on-hover {
  transition: transform 0.5s ease;
}

.zoom-on-hover:hover {
  transform: scale(1.05);
}

.h1-title {
  font-size: xx-large;
}

.fecha {
  font-size: 1.2em;
  color: #C54409; 
  font-weight: bold; 
  text-align: center; 
  background-color: #FFEED4;
}






/* Estilo para la sección principal */

.display-4 {
  color: #C54409;
}

.carousel-inner img {
  border-radius: 10px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: #fff;
  padding: 10px;
}

.row {
  margin-top: 20px;
}

.card {
  margin-bottom: 20px;
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  text-align: center;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
