<br>
<div class="container-fluid text-center">
    <div class="row">
      <div class="col-lg custom-vertical-center">
        <div class="container rounded-2 border"><!--Imagenes-->
          <app-product-image data-bs-theme="dark"></app-product-image>
        </div>
      </div>
      <div class="col-lg">
        <div class="row custom-vertical-center">
          <div class="col custom-align-items-start">
            <div class="container"><!--Titulo y descripcion-->
              <app-product-details></app-product-details>
            </div>
          </div>
        </div>
        <hr>
        <div class="row custom-vertical-center">
          <div class="col">
            <div class="container"><!--Precio y botón de pagar-->
              <app-price></app-price>
            </div>
          </div>
          <div class="col">
            <div class="container"><!--Vendedor-->
              <app-info-vendedor></app-info-vendedor>
            </div>
          </div>
        </div>
        <hr>
        <div class="row" style="margin-left: 13%;">
          <div class="col">
            <div class="container"><!--Mapa-->
              <app-map></app-map>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>