.navbar{
    background-color: rgb(255, 188, 110);
}

#ttl{
    position: relative;
    top: 9px;
    margin-left: 10px;
}

strong{
    font-size: 16px;
}

.btn{
    background-color: #fc7713;
    color: white;
}

.btn:hover{
    background-color: #b16e3a;
    color: white;
}

#inicio{
    background-color: rgb(33,23,57);
}

#inicio:hover{
    background-color: rgb(99, 92, 117);
}