.boton-pujar{
    background-color: #fe9639;
    color: #FFF7ED;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
    font-size: 16px;
  }

  .fondo{
    background-color: #FFD9A9;
  }
